### 安装tushare
- 参考官网：https://tushare.pro/document/1
- pip install tushare，需要的依赖全部自动安装

## 注册
链接：https://tushare.pro/register?reg=353020

In [4]:
import warnings
warnings.filterwarnings("ignore")

import tushare as ts
print(ts.__version__)

1.3.9

### 这个是token

In [5]:
token = 'f51bc1209389d9ba0d671689478db838d0e903f3c45e3734438612e9'

设置好token

In [6]:
ts.set_token(token)

In [7]:
pro = ts.pro_api()

### 获取指数

In [8]:
pro.index_basic(market = 'SSE').head()

,ts_code,name,market,publisher,category,base_date,base_point,list_date
0,000001.SH,上证指数,SSE,中证指数有限公司,综合指数,19901219,100.00,19910715
1,000001CNY01.SH,上证指数全收益,SSE,中证指数有限公司,综合指数,20200721,3320.89,20201009
2,000002.SH,A股指数,SSE,中证指数有限公司,规模指数,19901219,100.00,19920221
3,000003.SH,B股指数,SSE,中证指数有限公司,规模指数,19920221,100.00,19920817
4,000004.SH,工业指数,SSE,中证指数有限公司,行业指数,19930430,1358.78,19930503

指数信息

In [9]:
pro.index_daily(ts_code='000001.SH').head()

,ts_code,trade_date,close,open,high,low,pre_close,change,pct_chg,vol,amount
0,000001.SH,20240227,3015.4807,2966.4166,3015.4807,2961.1479,2977.0221,38.4586,1.2918,372984687.0,412614978.5
1,000001.SH,20240226,2977.0221,3002.1179,3009.4790,2967.0571,3004.8810,-27.8589,-0.9271,409026558.0,427564895.8
2,000001.SH,20240223,3004.8810,2992.9115,3009.1359,2979.9728,2988.3578,16.5232,0.5529,380083270.0,398232220.7
3,000001.SH,20240222,2988.3578,2945.4465,2988.3578,2944.4988,2950.9556,37.4022,1.2675,354132536.0,365264217.9
4,000001.SH,20240221,2950.9556,2906.0243,2994.6149,2898.0496,2922.7302,28.2254,0.9657,444245463.0,450922050.7

### 获取股票

指定好交易所ID

In [10]:
pro.stock_basic(exchange_id='SSE').head()

     ts_code  symbol  name area industry market list_date
0  000001.SZ  000001  平安银行   深圳       银行     主板  19910403
1  000002.SZ  000002   万科A   深圳     全国地产     主板  19910129
2  000004.SZ  000004  国华网安   深圳     软件服务     主板  19910114
3  000005.SZ  000005  ST星源   深圳     环境保护     主板  19901210
4  000006.SZ  000006  深振业A   深圳     区域地产     主板  19920427

获取行情数据

In [13]:
df = pro.daily(ts_code='000001.SZ', start_date='20240220', end_date='20240227')
df

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,000001.SZ,20240227,10.49,10.60,10.46,10.50,10.53,-0.03,-0.2849,1981904.92,2083027.074
1,000001.SZ,20240226,10.78,10.88,10.50,10.53,10.85,-0.32,-2.9493,2862608.88,3048205.025
2,000001.SZ,20240223,10.88,11.24,10.84,10.85,10.90,-0.05,-0.4587,3567479.50,3917316.282
3,000001.SZ,20240222,10.65,10.91,10.62,10.90,10.80,0.10,0.9259,4922325.12,5307736.374
4,000001.SZ,20240221,9.78,10.80,9.77,10.80,9.82,0.98,9.9796,5055284.60,5295259.397
5,000001.SZ,20240220,9.79,9.84,9.73,9.82,9.81,0.01,0.1019,1123563.98,1098987.813

In [12]:
df.to_csv('平安银行.csv')